<div class="container"
  fxlayout="rows"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutGap="10px">



  <table mat-table [dataSource]="buses" class="mat-elevation-z8">

    <ng-container  matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <tr>
        <td mat-cell *matCellDef="let bus"> {{bus.name}} </td>
      </tr>
    </ng-container>

    <ng-container  matColumnDef="departuretime">
      <th mat-header-cell *matHeaderCellDef> Departure Time </th>
      <tr>
        <td mat-cell *matCellDef="let bus"> {{bus.departuretime}} </td>
      </tr>
    </ng-container>

    <ng-container  matColumnDef="arrivaltime">
      <th mat-header-cell *matHeaderCellDef> arrivaltime </th>
      <tr>
        <td mat-cell *matCellDef="let bus"> {{bus.arrivaltime}} </td>
      </tr>
    </ng-container>

    <ng-container  matColumnDef="seatsavailable">
      <th mat-header-cell *matHeaderCellDef> seatsavailable </th>
      <tr>
        <td mat-cell *matCellDef="let bus"> {{bus.seatsavailable}} </td>
      </tr>
    </ng-container>

    <ng-container  matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> price </th>
      <tr>
        <td mat-cell *matCellDef="let bus"> {{bus.price}} </td>
      </tr>
    </ng-container>

    <ng-container  matColumnDef="viewseats">
      <th mat-header-cell *matHeaderCellDef> </th>
      <tr>
        <td mat-cell *matCellDef="let bus">
          <button type="submit" mat-button routerLink="" class="background-primary text-flora-white">View Seats</button>    
        </td>
      </tr>
    </ng-container>
    


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   

  </table>
</div>