table{
    width: 100%;
    background-color: rgb(201, 201, 201);
}

.busseat{
    margin-top: 20px;
    width: 20%;
}

.viewseats{
    color: rgba(0,0,0,.87);
    font-size: 22px;
    font-weight: 1500;
}